<section class="group-wishlists-container">

    <div class="group-header">
      <ng-include src="'templates/dropdown.html'"></ng-include>
      <hr class="hr-baby-blue">
    </div>

    <div class="wishlist scrollable-content font-bungee-hairline">
      <div class="wishlist-item" ng-repeat="item in vm.selectedUser.wishlist">
        <input ng-model="item.purchased" type="checkbox">
        <label ng-class="{'purchased': item.purchased}" class="wishlist-item-label">{{item.name}}</label>
        <hr class="wishlist-hr hr-sunset-orange">
      </div>
    </div>

    <div class="wishlist-footer">
      <div id="save-button" class="font-bungee-inline" ng-click="vm.savePurchasedItems()">Submit Purchase(s)</div>
    </div>

</section>
<script type="text/javascript" src="vendor/masonry/masonry.js"></script>
