
<!-- NAVIGATION CONTROLLER -->

  <section ng-controller="navigationCtrl as nav" ng-class="{'selected': nav.selected}">

    <div class="grid-item">

      <div class="nav">
        <ul class="nav-container bg-color-baby-blue header-font">

          <li ng-hide="nav.isLoggedIn" ng-repeat="navItem in nav.navItemsLoggedOut" ng-click="nav.setSelected(navItem)" ng-class="{'selected': navItem == nav.selectedNavItem, 'bg-color-baby-blue': navItem == nav.selectedNavItem  }" class="nav-item nav-item-out">
            <a href="{{navItem.href}}">{{navItem.label}}</a>
          </li>


          <li ng-show="nav.isLoggedIn" ng-repeat="navItem in nav.navItemsLoggedIn" ng-click="nav.setSelected(navItem); nav.logout(navItem)" ng-class="{'selected': navItem == nav.selectedNavItem, 'bg-color-baby-blue': navItem == nav.selectedNavItem  }" class="nav-item nav-item-in">
            <a href="{{navItem.href}}">{{navItem.label}}</a>
          </li>

          <!-- <li ng-show="nav.isLoggedIn" class="nav-item nav-item-in" ng-click="nav.logout()"><a href="/">Logout</a></li> -->
        </ul>
      </div>
    </div>

  </section>
