
<div class="col-xs-12 col-md-8 margin-top-20">
  <div id="profile-info" class="bg-color-red box-shadow-outer">
    <div class="">
      <h1 class="form-signin-heading">Your profile</h1>
      <hr>
    </div>

    <div class="">
      <h2>Account Name</h2>
      <h4>{{ vm.user.userInfo.name }}</h4>
    </div>

    <div class="">
      <h2>Account Email</h2>
      <h4>{{ vm.user.userInfo.email }}</h4>
    </div>

    <div class="">
      <h2>Group Code</h2>
      <p>Use the code below to invite new users to your group and share their wishlist with you!</p>
      <h4>{{ vm.user.groupCode }}</h4>
    </div>

  </div>


</div>
