<div class="container">
  <div class="row">

     <div id="profile-info" class="col-xs-12 col-md-6">

      <h1 class="form-signin-heading">Your profile</h1>

      <form  class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label">Full name</label>
          <p class="form-control-static">{{ vm.user.userInfo.name }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Email</label>
          <p class="form-control-static">{{ vm.user.userInfo.email }}</p>
        </div>
        <div class="">
          <label>Group Code</label>
          <h2>{{ vm.wishlistGroup.groupCode }}</h2>
        </div>
      </form>

    </div>

    <div id="group-info" class="col-xs-12 col-md-6">
      <div class="">
        <h2>{{ vm.wishlistGroup.name }}</h2>
      </div>

      <div class="">

        <div ng-repeat="user in vm.users" class="group-user-btn">
          <h4>{{ user.userInfo.name }}'s wishlist</h4>
        </div>

      </div>

    </div>

  </div>
</div>
