
<div class="col-xs-12 col-sm-10 col-sm-offset-1">
  <div id="profile-info" class="">
    <div class="">
      <h1 class="header-font color-accent-light-blue">Your profile</h1>
      <hr class="hr-sunset-orange">
    </div>

    <div class="">
      <h2>Account Name</h2>
      <h4>{{ vm.user.userInfo.name }}</h4>
    </div>

    <div class="">
      <h2>Account Email</h2>
      <h4>{{ vm.user.userInfo.email }}</h4>
    </div>

    <div class="">
      <h2>Group Code</h2>
      <p>Use the code below to invite new users to your group and share their wishlist with you!</p>
      <h4>{{ vm.user.groupCode }}</h4>
    </div>

  </div>

</div>
