

<!--
glyphicon glyphicon-edit
glyphicon glyphicon-floppy-disk
glyphicon glyphicon-trash
-->
<div class="col-xs-12 col-md-8">
  <div class="wishlist-container margin-bottom-20 bg-color-red box-shadow-outer margin-top-20">

    <div class="wishlist-header">
      <h1 class="user-name">My Wishlist</h1>
      <hr>
    </div>

    <div class="wishlist">

      <div class="add">
        <a class="color-accent-yellow" href="" ng-click="addItem()"><span class="glyphicon glyphicon-plus"></span> add new</a>
      </div>

      <!-- iterate through the wish list and create html elements for each -->
      <div class="wishlist-item" ng-repeat="item in wishlist | orderBy: 'purchased' " ng-init="item.purchased = false" ng-class="{'edited': item.edited, 'completed': item.purchased}">
        <input ng-model="item.purchased" type="checkbox">
        <label ng-hide="editing" class="wishlist-font editing-label">{{item.name}}</label>

        <!-- NOTE: alot of angular directives below are editing the state of the application -->
        <input class="item-editing" ng-change="item.edited = true" ng-blur="editing = false;" ng-show="editing" ng-model="item.name" type="text">

        <div class="actions">
          <a href="" ng-click="editing = !editing"><span class="glyphicon glyphicon-edit"></span></a> <!-- toggles editing value between true/false-->
          <a href="" ng-click="saveItem()"><span class="glyphicon glyphicon-floppy-disk"></span></a>
          <a href="" ng-click="deleteItem(item, $index)"><span class="glyphicon glyphicon-trash"></span></a>

          <a href="{{item.url}}" target="_blank" ng-if="item.url">url</a>
        </div>
        <a href="" ng-click="showDetails = !showDetails" ng-show="item.details">show details</a>
        <div ng-show="showDetails" class="">
          <p>{{item.details}}</p>
        </div>

        <hr class="wishlist-hr">

      </div>

    </div>

  </div>
</div>
