/*--------------------------------------*/
/*        COLOR CLASSES                 */
/*--------------------------------------*/
.hr-sunset-orange {
  border-color: #FE5F55;;
  border-width: 1px;
  margin: 0;
}

.color-accent-red {color: #FE5F55;}
.color-accent-pink {color: #6F6178;}
.color-accent-light-peach {color: #42E8B8;}
.color-accent-light-blue {color: #49deff;}
.color-accent-black {color: #1E1A17;}
.color-accent-yellow {color: #F9C80E;}
.color-accent-white {color: #FFFFFF;}

.bg-color-sunset-orange {background: #FE5F55;}
.bg-color-giants-orange {background: #F86624;}
.bg-color-desire {background: #EA3546;}
.bg-color-baby-blue {background: #49deff;}
.bg-color-dark-grey {background: #383737;}
.bg-color-yellow {background: #F9C80E;}
