




/*--------------------------------------*/
/*        GLOBAL CLASSES                */
/*--------------------------------------*/

body {background: #FAFFFD;}

.header-font {font-family: 'Roboto Mono', monospace; font-weight: 700;}
.wishlist-font {font-family: 'Inconsolata', monospace; font-size: 2em; font-weight: 400;}
.faded-text {color: rgb(171, 171, 171);}

.text-align-center {text-align: center;}
.margin-top-40 {margin-top: 40px;}
.margin-bottom-40 {margin-bottom: 40px;}
.margin-none {margin: 0;}
.margin-top-20 {margin-top: 20px;}
.margin-bottom-20 {margin-bottom: 20px;}
.padding-top-bottom-40 {padding-top: 40px; padding-bottom: 40px;}
.padding-10 {padding: 10px;}


.color-accent-light-red {color: #FE5F55;}
.color-accent-light-orange {color: #9FD356;}
.color-accent-dark-pink {color: #DD5E98;}
.color-accent-dark-peach {color: #E16F7C;}
.color-accent-gold-brown {color: #C1AE7C;}

.bg-color-light-red {background: #FE5F55;}
.bg-color-light-orange {background: #9FD356;}
.bg-color-dark-pink {background: #DD5E98;}
.bg-color-dark-peach {background: #E16F7C;}
.bg-color-gold-brown {background: #C1AE7C;}


/*--------------------------------------*/
/*     HEADER and NAVBAR CLASSES        */
/*--------------------------------------*/

.header-bg {
  background: rgb(255, 82, 82);
}

.logo-container {
  color: white;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin-top: 40px;
  text-align: right;
}

.nav li a {color: #FFFFFF;}
.nav li a:hover {color: #C1AE7C;}
.nav ul li {display: inline-block; padding: 5px;}


/*--------------------------------------*/
/*        WISH LIST CLASSES             */
/*--------------------------------------*/

.user-name {
  text-align: center;
}

.add {
  text-align: right;
  margin-bottom: 10px;
}

.list {
  display: inline-block;
  background-color: rgb(240, 255, 219);
  padding: 20px;
}

.list .edited label:after {
  content: " edited";
  text-transform: uppercase;
  color: #c9d4db;
  font-size: 14px;
  padding-left: 5px;
}

.completed label {
  text-decoration: line-through;
  color: rgb(106, 106, 106);
}

.actions {
  display: inline-block;
  float: right;
}

/*--------------------------------------*/
/*        PROFILE PAGE CLASSES          */
/*--------------------------------------*/
.profile-info {
  box-sizing: border-box;
  border: 1px solid blue;
}

.profile-wishlist-info {
  box-sizing: border-box;
  border: 1px solid red;
}

/*--------------------------------------*/
/*        REGISTER CLASSES              */
/*--------------------------------------*/

.registration {

}

.reg-header {
  text-align: center;
}

.reg-choice {
  border-radius: 10px;
  background-color: rgb(170, 138, 56);
}
